name: Crates Readme Table

on:
  schedule:
    # 02:30, 06:30, 10:30, 14:30, 18:30, 22:30 UTC (every 4h, 2h offset from wakatime)
    - cron: '30 2/4 * * *'
  workflow_dispatch:
jobs:
  update-crates-readme-table:
    name: Update Crates Readme Table
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Install dependencies
        run: cargo install crates-readme-table
      - name: Run Crates Readme Table
        run: crates-readme-table
      - name: Global Setup Git
        run: 'git config --global user.email "betterhyq@qq.com"'
      - name: Global Setup Git
        run: 'git config --global user.name "betterhyq"'
      - name: Add Changes
        run: git add .
      - name: Commit and Push
        run: |
          if ! git diff --staged --quiet; then
            git commit -m "chore: update crates readme table"
            git pull --rebase origin "${{ github.ref_name }}"
            git push origin "${{ github.ref_name }}"
          else
            echo "No changes to commit"
          fi